<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Apache SDAP - Science Data Analytics Platform</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}favicon.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/apache?utf8=✓&q=incubator-sdap&type=&language=" title="Fork me on GitHub" target="_blank" >Fork me on GitHub</a> 
    <div class="container">

      <div class="logos">
        <a href="https://incubator.apache.org">
          <img src="{{ site.baseurl }}/images/egg-logo.png" class="pull-left" />
        </a>
      </div>

      <!-- navigation bar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">SDAP</a>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
              <li><a href="{{ site.baseurl }}/downloads">Downloads</a></li>
              <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
              <li><a href="{{ site.baseurl }}/team">Team &amp; Community</a></li>
              <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
              <li class="dropdown toggle">
              	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apache <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://www.apache.org/foundation/how-it-works.html">Apache Software Foundation</a></li>
                  <li><a href="http://www.apache.org/licenses/">Apache License</a></li>
                  <li><a href="http://www.apache.org/foundation/sponsorship">Sponsorship</a></li>
                  <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
