---
---

{% include header.html %}

<h1>Documentation</h1>

<p>This page describes how to install, use, and contribute to SDAP.</p>

<h2>Build and Deploy SDAP locally</h2>

<p>
    Guides to <a href="https://incubator-sdap-nexus.readthedocs.io/en/latest/build.html">build</a> and <a href="https://incubator-sdap-nexus.readthedocs.io/en/latest/quickstart.html">deploy</a> SDAP using Docker are available at Read the Docs.
</p>

<h2>Deployment to Production</h2>
<p>
    Included with the SDAP release (Nexus) are the requisite Helm Charts to deploy SDAP to a Kubernetes cluster (currently tested between k8s versions 1.22 and 1.25). This allows for a scalable,
    production deployment of SDAP to either a privately maintained cluster or to a cloud service provider like Amazon Web Service's Elastic Kubernetes Service.
</p>


<h2 id="development">Contribution</h2>

<p>You can find our <a href="https://cwiki.apache.org/confluence/display/SDAP/Home">Wiki here</a>. Feel free to add SDAP related content to it!</p>
<p>See how you can get involved and contribute to SDAP through our <a href="http://sdap.apache.org/team#community">Community Hubs</a>.

{% include footer.html %}
