---
---

{% include header.html %}

<h1>Team</h1>

<p>Originally, SDAP represented a collaboration between <a href="https://www.jpl.nasa.gov">NASA Jet Propulsion Laboratory (JPL)</a>, <a href="https://coaps.fsu.edu">Center for Ocean-Atmospheric Prediction Studies, Florida State University</a>, the <a href="https://www2.cisl.ucar.edu">Computational Information Systems Laboratory (CISL) / National Center for Atmospheric Research (NCAR)</a>, and <a href="https://www2.gmu.edu">George Mason University (GMU)</a>. As the SDAP community expands, so will the happy faces below...</p>

<h2>Members</h2>

<h3>Jet Propulsion Laboratory</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/" class="team-avatar img-thumbnail" />
    <h4>Ed Armstrong</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/edshred2000">edshred2000</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewismc@apache.org">lewismc at apache dot org</a></dd>
    </dl>
  </div>

</div>

<h3>Florida State University</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/" class="team-avatar img-thumbnail" />
    <h4>Ed Armstrong</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/edshred2000">edshred2000</a></dd>
      <dt>ApacheID:</dt>
      <dd><a class="external" href="mailto:"></a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewismc@apache.org">lewismc at apache dot org</a></dd>
    </dl>
  </div>

</div>

<h3>National Center for Atmospheric Research</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/" class="team-avatar img-thumbnail" />
    <h4>Ed Armstrong</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/edshred2000">edshred2000</a></dd>
      <dt>ApacheID:</dt>
      <dd><a class="external" href="mailto:"></a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewismc@apache.org">lewismc at apache dot org</a></dd>
    </dl>
  </div>

</div>

<h3>George Mason University</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/" class="team-avatar img-thumbnail" />
    <h4>Ed Armstrong</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/edshred2000">edshred2000</a></dd>
      <dt>ApacheID:</dt>
      <dd><a class="external" href="mailto:"></a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewismc@apache.org">lewismc at apache dot org</a></dd>
    </dl>
  </div>

</div>

      <!-- site map -->
      <div class="row">

        <!-- team -->
        <div class="col-lg-4">
          <h2>Team</h2>
          <p>Jet Propulsion Laboratory:</p>
          <ul>
      <li>Ed Armstrong</li>
      <li>Frank Greguska</li>
      <li>Thomas Huang</li>
      <li>Joseph C. Jacob, Ph.D.</li>
            <li>Lewis John McGibbney, Ph.D.</li>
      <li>Nga Quach</li>
      <li>Vartis Tsontos</li>
      <li>Brian Wilson, Ph.D.</li>
          </ul>
          <p>George Mason University:</p>
          <ul>
            <li>Yongyao Jiang</li>
            <li>Yun Li</li>
            <li>Chaowei (Phil) Yang, Ph.D.</li>
          </ul>
      <p>Center for Ocean-Atmospheric Prediction Studies, Florida State University:</p>
          <ul>
            <li>Mark Bourassa, Ph.D.</li>
            <li>Jocelyn Elya</li>
            <li>Shawn R. Smith</li>
          </ul>
      <p>Computational Information Systems Laboratory (CISL) / National Center for Atmospheric Research (NCAR):</p>
          <ul>
            <li>Thomas Cram</li>
            <li>Zaihua Ji</li>
            <li>Steve Worley</li>
          </ul>
        </div>

      </div>

<h2>Contact</h2>

<p>The best way to reach us is to contact us directly by email or to visit our <a class="external" href="https://github.com/capstone-coal">GitHub Organization</a>. Our geographically distributed team meets regularly by videoconference and collaborates on research and development primarily through our mailing list. You may view our messages on <a class="external" href="https://groups.google.com/forum/#!forum/coal-capstone">Google Groups</a> or ask to join, however only invited people will be able to post.</p>

{% include footer.html %}
